@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif; /* Menggunakan font Poppins */
}

@media (max-width: 768px) {
  body {
    overflow-x: hidden; /* Prevent horizontal scrolling on mobile */
  }
  .your-container-class {
    width: 100%;
    padding: 10px; /* Ensure padding adjusts for mobile */
  }
}
