@import "tailwindcss";

body {
  font-family: var(--font-poppins), system-ui, sans-serif;
}

/* Memastikan HTML dan Body mengambil full tinggi tanpa margin */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Mencegah scroll pada body utama */
  background: var(--background);
  color: var(--foreground);

  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

body {
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif; 
}
/* Custom Scrollbar untuk Webkit (Chrome, Safari, Edge) */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #c1c1c1; 
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8; 
}